In [29]:
#imports

import os
import sys
import pandas as pd
import numpy as np
import time
import seaborn as sns
from datetime import datetime as dt
from datetime import timedelta
import datetime
import re
import joblib
from urllib.error import HTTPError

import eli5
from eli5.sklearn import PermutationImportance
from matplotlib.colors import ListedColormap

import warnings
from sklearn import tree
import statsmodels.formula.api as smf
from statsmodels.miscmodels.ordinal_model import OrderedModel
import sklearn
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier, GradientBoostingClassifier, GradientBoostingRegressor, AdaBoostRegressor
from sklearn import svm
from sklearn.model_selection import cross_val_score, train_test_split, GridSearchCV, validation_curve, learning_curve
from sklearn.linear_model import LogisticRegression, LinearRegression, SGDRegressor, ElasticNet, BayesianRidge, Ridge, Lasso
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier, KNeighborsRegressor
from sklearn.metrics import f1_score, make_scorer, classification_report, precision_score, accuracy_score, recall_score
from sklearn.preprocessing import MinMaxScaler, scale, StandardScaler
from sklearn.naive_bayes import GaussianNB
from sklearn.neural_network import MLPClassifier, MLPRegressor
from sklearn.gaussian_process import GaussianProcessClassifier
from sklearn.gaussian_process.kernels import RBF
from sklearn.decomposition import PCA
from sklearn.pipeline import Pipeline
from sklearn.discriminant_analysis import QuadraticDiscriminantAnalysis
from sklearn.kernel_ridge import KernelRidge
import xgboost as xgb
from sklearn.feature_selection import RFE

from scipy.stats import poisson
from matplotlib import pyplot as plt

from bs4 import BeautifulSoup

import requests
import itertools as it

## Preprocessing

In [30]:
#form

def homeFormP(team, games, endDate, df):
    home = df.query("home == @team and date < @endDate").tail(games)
    home['results'] = home['results'].replace(['H', 'D', 'A'], [3, 1, 0])
    return home['results'].sum()

def awayFormP(team, games, endDate, df):
    away = df.query("away == @team and date < @endDate").tail(games)
    away['results'] = away['results'].replace(['H', 'D', 'A'], [0, 1, 3])
    return away['results'].sum()

def homeForm(team, games, df):
    home = df.query("home == @team").tail(games)
    home['results'] = home['results'].replace(['H', 'D', 'A'], [3, 1, 0])
    return home

def awayForm(team, games, df):
    away = df.query("away == @team").tail(games)
    away['results'] = away['results'].replace(['H', 'D', 'A'], [0, 1, 3])
    return away

def addForm(df):
    home_5_form = []
    away_5_form = []
    home_3_form = []
    away_3_form = []
    home_1_form = []
    away_1_form = []
    
    for i in df.index:
        home_5_form.append(homeFormP(df.iloc[i]['home'], 5, df.iloc[i]['date'], df))
        away_5_form.append(awayFormP(df.iloc[i]['away'], 5, df.iloc[i]['date'], df))
        home_3_form.append(homeFormP(df.iloc[i]['home'], 3, df.iloc[i]['date'], df))
        away_3_form.append(awayFormP(df.iloc[i]['away'], 3, df.iloc[i]['date'], df))
        home_1_form.append(homeFormP(df.iloc[i]['home'], 1, df.iloc[i]['date'], df))
        away_1_form.append(awayFormP(df.iloc[i]['away'], 1, df.iloc[i]['date'], df))
    
    df['home_5_form'] = pd.DataFrame(home_5_form)
    df['away_5_form'] = pd.DataFrame(away_5_form)
    df['home_3_form'] = pd.DataFrame(home_3_form)
    df['away_3_form'] = pd.DataFrame(away_3_form)
    df['home_1_form'] = pd.DataFrame(home_1_form)
    df['away_1_form'] = pd.DataFrame(away_1_form)
    return df

In [31]:
#extra features
def last_n_var(var, against, team, place, date, n, df):
    if against == 'for':
        if place == 'home':
            games = homeForm(team, 100, df).query('date < @date')['home_' + var]
            
        if place == 'away':
            games = awayForm(team, 100, df).query('date < @date')['away_' + var]
            
        if place == 'any':
            games = form(team, 100, df).query('date < @date').tail(n)
            home = games.query('home == @team')['home_' + var].sum()
            away = games.query('away == @team')['away_' + var].sum()
            return (home + away) / (len(games.tail(n)))
        
    if against == 'against':
        if place == 'home':
            games = homeForm(team, 100, df).query('date < @date')['away_' + var]
            
        if place == 'away':
            games = awayForm(team, 100, df).query('date < @date')['home_' + var]
            
        if place == 'any':
            games = form(team, 100, df).query('date < @date').tail(n)
            home = games.query('home == @team')['away_' + var].sum()
            away = games.query('away == @team')['home_' + var].sum()
            return (home + away) / (len(games.tail(n)))
    return games.tail(n).mean()

def runningAverage(df):
    data = df.copy()
    names = ['last_3_goals_for_home', 'last_3_goals_against_home', 'last_3_goals_for_away', 'last_3_goals_against_away',
             'last_5_goals_for_home', 'last_5_goals_against_home', 'last_5_goals_for_away', 'last_5_goals_against_away',
             #'last_3_xg_for_home', 'last_3_xg_against_home', 'last_3_xg_for_away', 'last_3_xg_against_away',
             #'last_5_xg_for_home', 'last_5_xg_against_home', 'last_5_xg_for_away', 'last_5_xg_against_away',
             #'last_3_poss_for_home', 'last_3_poss_against_home', 'last_3_poss_for_away', 'last_3_poss_against_away',
             #'last_5_poss_for_home', 'last_5_poss_against_home', 'last_5_poss_for_away', 'last_5_poss_against_away',
             'last_3_shot_for_home', 'last_3_shot_against_home', 'last_3_shot_for_away', 'last_3_shot_against_away',
             'last_5_shot_for_home', 'last_5_shot_against_home', 'last_5_shot_for_away', 'last_5_shot_against_away',
             'last_3_sot_for_home', 'last_3_sot_against_home', 'last_3_sot_for_away', 'last_3_sot_against_away',
             'last_5_sot_for_home', 'last_5_sot_against_home', 'last_5_sot_for_away', 'last_5_sot_against_away',
             #'last_3_pass_for_home', 'last_3_pass_against_home', 'last_3_pass_for_away', 'last_3_pass_against_away',
            ]#'last_5_pass_for_home', 'last_5_pass_against_home', 'last_5_pass_for_away', 'last_5_pass_against_away']

    for i in names:
        name = i
        i = i.split('_')
        var = i[2]
        against = i[3]
        place = i[4]
        n = int(i[1])
        if place == 'home':
            col = data.apply(lambda row: last_n_var(var, against, row.home, 'home', row.date, n, df), axis = 1) 
        if place == 'away':
            col = data.apply(lambda row: last_n_var(var, against, row.away, 'away', row.date, n, df), axis = 1)
        col = pd.DataFrame(col, columns = [name])
        data = data.join(col)
    return data

def ratio(df):
    df['last_3_goals_home_att_away_def'] = df['last_3_goals_for_home'] * df['last_3_goals_against_away']
    df['last_3_goals_home_def_away_att'] = df['last_3_goals_against_home'] * df['last_3_goals_for_away']
    df['last_5_goals_home_att_away_def'] = df['last_5_goals_for_home'] * df['last_5_goals_against_away']
    df['last_5_goals_home_def_away_att'] = df['last_5_goals_against_home'] * df['last_5_goals_for_away']
    #df['last_3_xg_home_att_away_def'] = df['last_3_xg_for_home'] * df['last_3_xg_against_away']
    #df['last_3_xg_home_def_away_att'] = df['last_3_xg_against_home'] * df['last_3_xg_for_away']
    #df['last_5_xg_home_att_away_def'] = df['last_5_xg_for_home'] * df['last_5_xg_against_away']
    #df['last_5_xg_home_def_away_att'] = df['last_5_xg_against_home'] * df['last_5_xg_for_away']
    #df['last_3_poss_ratio'] = df['last_3_poss_for_home'] / df['last_3_poss_for_away']
    #df['last_5_poss_ratio'] = df['last_5_poss_for_home'] / df['last_5_poss_for_away']
    df['last_3_shot_home_att_away_def'] = df['last_3_shot_for_home'] * df['last_3_shot_against_away']
    df['last_3_shot_home_def_away_att'] = df['last_3_shot_against_home'] * df['last_3_shot_for_away']
    df['last_5_shot_home_att_away_def'] = df['last_5_shot_for_home'] * df['last_5_shot_against_away']
    df['last_5_shot_home_def_away_att'] = df['last_5_shot_against_home'] * df['last_5_shot_for_away']
    df['last_3_sot_home_att_away_def'] = df['last_3_sot_for_home'] * df['last_3_sot_against_away']
    df['last_3_sot_home_def_away_att'] = df['last_3_sot_against_home'] * df['last_3_sot_for_away']
    df['last_5_sot_home_att_away_def'] = df['last_5_sot_for_home'] * df['last_5_sot_against_away']
    df['last_5_sot_home_def_away_att'] = df['last_5_sot_against_home'] * df['last_5_sot_for_away']
    #df['last_3_pass_home_att_away_def'] = df['last_3_pass_for_home'] * df['last_3_pass_against_away']
    #df['last_3_pass_home_def_away_att'] = df['last_3_pass_against_home'] * df['last_3_pass_for_away']
    #df['last_5_pass_home_att_away_def'] = df['last_5_pass_for_home'] * df['last_5_pass_against_away']
    #df['last_5_pass_home_def_away_att'] = df['last_5_pass_against_home'] * df['last_5_pass_for_away']
    df['home_goals_attack'] = df['home_avg_for_goals'] * df['away_avg_against_goals']
    df['away_goals_attack'] = df['away_avg_for_goals'] * df['home_avg_against_goals']
    df['home_shot_attack'] = df['home_avg_for_shot'] * df['away_avg_against_shot']
    df['away_shot_attack'] = df['away_avg_for_shot'] * df['home_avg_against_shot']
    df['home_sot_attack'] = df['home_avg_for_sot'] * df['away_avg_against_sot']
    df['away_sot_attack'] = df['away_avg_for_sot'] * df['home_avg_against_sot']
    df['home_corner_attack'] = df['home_avg_for_corner'] * df['away_avg_against_corner']
    df['away_corner_attack'] = df['away_avg_for_corner'] * df['home_avg_against_corner']
        
    return df

def leagueAverage(var, against, team, place, date, df):
    if against == 'for':
        if place == 'home':
            games = homeForm(team, 100, df).query('date < @date')['home_' + var]
            
        if place == 'away':
            games = awayForm(team, 100, df).query('date < @date')['away_' + var]
        
    if against == 'against':
        if place == 'home':
            games = homeForm(team, 100, df).query('date < @date')['away_' + var]
            
        if place == 'away':
            games = awayForm(team, 100, df).query('date < @date')['home_' + var]

    return games.mean()

def average(df):
    data = df.copy()
    names = ['home_avg_for_goals', 'home_avg_against_goals', 'away_avg_for_goals', 'away_avg_against_goals',
            'home_avg_for_yellow', 'home_avg_against_yellow', 'away_avg_for_yellow', 'away_avg_against_yellow',
            'home_avg_for_red', 'home_avg_against_red', 'away_avg_for_red', 'away_avg_against_red',
            'home_avg_for_foul', 'home_avg_against_foul', 'away_avg_for_foul', 'away_avg_against_foul',
            'home_avg_for_shot', 'home_avg_against_shot', 'away_avg_for_shot', 'away_avg_against_shot',
            'home_avg_for_sot', 'home_avg_against_sot', 'away_avg_for_sot', 'away_avg_against_sot',
            'home_avg_for_corner', 'home_avg_against_corner', 'away_avg_for_corner', 'away_avg_against_corner']
    
    for i in names:
        name = i
        i = i.split('_')
        var = i[3]
        against = i[2]
        place = i[0]
        if place == 'home':
            col = data.apply(lambda row: leagueAverage(var, against, row.home, 'home', row.date, df), axis = 1) 
        if place == 'away':
            col = data.apply(lambda row: leagueAverage(var, against, row.away, 'away', row.date, df), axis = 1)
        col = pd.DataFrame(col, columns = [name])
        data = data.join(col)
    return data

In [32]:
#league position
def pos(df, team, table):
    index = table.index
    condition = table['teams'] == team
    position = index[condition][0] + 1
    return position

def avgPos(df):
    leagueTable = table(df)
    #display(leagueTable)
    posHome = df.apply(lambda row: pos(df, row.home, leagueTable), axis = 1)
    posAway = df.apply(lambda row: pos(df, row.away, leagueTable), axis = 1)
    df['avg_pos_home'] = posHome
    df['avg_pos_away'] = posAway
    return df

def table(df):
    teams = df['home'].unique()
    table = pd.DataFrame(teams, columns = ['teams'])
    pointTally = []
    for team in teams:
        pointTally.append(points(team, df))
    table['points'] = pointTally
    table = table.sort_values(by = 'points', ascending=False).reset_index(drop = True)
    return table

def points(team, df):
    homeGames = df.query('home == @team')['results'].replace(['H', 'D', 'A'], [3, 1, 0])
    awayGames = df.query('away == @team')['results'].replace(['H', 'D', 'A'], [0, 1, 3])
    totalGames = pd.concat([homeGames, awayGames], axis = 0)  
    avgPoints = totalGames.mean()
    return avgPoints

In [33]:
keep = ['Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG', 'HTAG', 'HTR', 'HS', 'AS', 
        'HST', 'AST', 'HF', 'AF', 'HC', 'AC', 'HY', 'AY', 'HR', 'AR' ]
newCols = ['date', 'home', 'away', 'home_goals', 'away_goals', 'results', 'ht_home_goals', 'ht_away_goals', 
           'ht_result', 'home_shot', 'away_shot', 'home_sot', 'away_sot', 'home_foul', 'away_foul', 
           'home_corner', 'away_corner', 'home_yellow', 'away_yellow', 'home_red', 'away_red']

In [34]:
def localData(league, file):
    finaldf = pd.DataFrame()
    for i in range(5):
        if i == 0:
            df = pd.read_csv('Datasets/' + file + '.csv')
        else:    
            df = pd.read_csv('Datasets/' + file + ' (' + str(i) +').csv')

        df = df[keep]
        df.columns = newCols
        
        display(df)

        try:
            df['date'] = pd.to_datetime(df['date'], format = '%d/%m/%Y')
        except ValueError:
            df['date'] = pd.to_datetime(df['date'], format = '%d/%m/%y')

        df = addForm(df)

        df = avgPos(df)
        
        df = runningAverage(df)
        
        df = average(df)
        
        df = ratio(df)
        
        df = df.fillna(0)
        
        print('0')
        
        df['avg_pos'] = df['avg_pos_home'] / df['avg_pos_away']
        
        print('1')
    
        df['avg_pos_diff'] = df['avg_pos_home'] - df['avg_pos_away']
        print('2')
    
        df['5_form'] = df['home_5_form'] - df['away_5_form']
        print('3')
    
        df['3_form'] = df['home_3_form'] - df['away_3_form']
        print('4')
    
        df['1_form'] = df['home_1_form'] - df['away_1_form']
        print('5')
        
        df['results'] = df['results'].replace(['H', 'D', 'A'], range(3))
        print('6')
    
        df['ht_result'] = df['ht_result'].replace(['H', 'D', 'A'], range(3))
        print('7')
        
        display(df)
    
        
        finaldf = pd.concat([finaldf, df])
    
    finaldf.to_csv('local_' + league + '_processed.csv')
        
    return df

In [35]:
leagues = {
    'prem': ['E0'],
    'ligue': ['F1'],
    'bundes': ['D1'], 
    'serie': ['I1'],
    'laliga': ['SP1']}

for league in leagues:
    file = leagues[league][0]
    df = localData(league, file)

,date,home,away,home_goals,away_goals,results,ht_home_goals,ht_away_goals,ht_result,home_shot,...,home_sot,away_sot,home_foul,away_foul,home_corner,away_corner,home_yellow,away_yellow,home_red,away_red
0,13/08/2021,Brentford,Arsenal,2,0,H,1,0,H,8,...,3,4,12,8,2,5,0,0,0,0
1,14/08/2021,Man United,Leeds,5,1,H,1,0,H,16,...,8,3,11,9,5,4,1,2,0,0
2,14/08/2021,Burnley,Brighton,1,2,A,1,0,H,14,...,3,8,10,7,7,6,2,1,0,0
3,14/08/2021,Chelsea,Crystal Palace,3,0,H,2,0,H,13,...,6,1,15,11,5,2,0,0,0,0
4,14/08/2021,Everton,Southampton,3,1,H,0,1,A,14,...,6,3,13,15,6,8,2,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
347,07/05/2022,Liverpool,Tottenham,1,1,D,0,0,D,22,...,3,3,12,8,11,5,3,2,0,0
348,08/05/2022,Arsenal,Leeds,2,1,H,2,0,H,19,...,9,2,13,15,8,2,2,2,0,1
349,08/05/2022,Leicester,Everton,1,2,A,1,2,A,16,...,9,4,11,6,6,1,3,0,0,0
350,08/05/2022,Norwich,West Ham,0,4,A,0,3,A,8,...,2,5,7,7,9,5,1,1,0,0
351,08/05/2022,Man City,Newcastle,5,0,H,2,0,H,21,...,9,3,6,11,8,2,1,3,0,0

0
1
2
3
4
5
6
7

,date,home,away,home_goals,away_goals,results,ht_home_goals,ht_away_goals,ht_result,home_shot,...,away_shot_attack,home_sot_attack,away_sot_attack,home_corner_attack,away_corner_attack,avg_pos,avg_pos_diff,5_form,3_form,1_form
0,2021-08-13,Brentford,Arsenal,2,0,0,1,0,0,8,...,0.000000,0.000000,0.000000,0.000000,0.000000,3.500000,10,0,0,0
1,2021-08-14,Man United,Leeds,5,1,0,1,0,0,16,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.352941,-11,0,0,0
2,2021-08-14,Burnley,Brighton,1,2,2,1,0,0,14,...,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,9,0,0,0
3,2021-08-14,Chelsea,Crystal Palace,3,0,0,2,0,0,13,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.272727,-8,0,0,0
4,2021-08-14,Everton,Southampton,3,1,0,0,1,2,14,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.066667,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
347,2022-05-07,Liverpool,Tottenham,1,1,1,0,0,1,22,...,83.294118,29.411765,11.470588,42.823529,14.754325,0.400000,-3,5,2,2
348,2022-05-08,Arsenal,Leeds,2,1,0,2,0,0,19,...,119.294118,36.961938,13.266436,30.730104,18.179931,0.235294,-13,2,-4,2
349,2022-05-08,Leicester,Everton,1,2,2,1,2,2,16,...,173.406250,24.960938,15.539062,29.773438,19.500000,0.750000,-4,11,7,1
350,2022-05-08,Norwich,West Ham,0,4,2,0,3,2,8,...,147.179931,16.041522,21.695502,27.404844,28.678201,2.857143,13,2,3,0
351,2022-05-08,Man City,Newcastle,5,0,0,2,0,0,21,...,61.757785,28.823529,8.581315,42.276817,10.114187,0.076923,-12,4,4,0

,date,home,away,home_goals,away_goals,results,ht_home_goals,ht_away_goals,ht_result,home_shot,...,home_sot,away_sot,home_foul,away_foul,home_corner,away_corner,home_yellow,away_yellow,home_red,away_red
0,12/09/2020,Fulham,Arsenal,0,3,A,0,1,A,5,...,2,6,12,12,2,3,2,2,0,0
1,12/09/2020,Crystal Palace,Southampton,1,0,H,1,0,H,5,...,3,5,14,11,7,3,2,1,0,0
2,12/09/2020,Liverpool,Leeds,4,3,H,3,2,H,22,...,6,3,9,6,9,0,1,0,0,0
3,12/09/2020,West Ham,Newcastle,0,2,A,0,0,D,15,...,3,2,13,7,8,7,2,2,0,0
4,13/09/2020,West Brom,Leicester,0,3,A,0,0,D,7,...,1,7,12,9,2,5,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,23/05/2021,Liverpool,Crystal Palace,2,0,H,1,0,H,19,...,5,4,10,8,14,1,2,2,0,0
376,23/05/2021,Man City,Everton,5,0,H,2,0,H,21,...,11,3,8,10,7,5,2,2,0,0
377,23/05/2021,Sheffield United,Burnley,1,0,H,1,0,H,12,...,3,3,11,1,8,9,3,1,0,0
378,23/05/2021,West Ham,Southampton,3,0,H,2,0,H,14,...,7,5,5,9,2,3,0,3,0,0
379,23/05/2021,Wolves,Man United,1,2,A,1,2,A,14,...,4,4,14,3,6,2,4,1,0,0

0
1
2
3
4
5
6
7

,date,home,away,home_goals,away_goals,results,ht_home_goals,ht_away_goals,ht_result,home_shot,...,away_shot_attack,home_sot_attack,away_sot_attack,home_corner_attack,away_corner_attack,avg_pos,avg_pos_diff,5_form,3_form,1_form
0,2020-09-12,Fulham,Arsenal,0,3,2,0,1,2,5,...,0.000000,0.000000,0.000000,0.000000,0.000000,2.250000,10,0,0,0
1,2020-09-12,Crystal Palace,Southampton,1,0,0,1,0,0,5,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.933333,-1,0,0,0
2,2020-09-12,Liverpool,Leeds,4,3,0,3,2,0,22,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.300000,-7,0,0,0
3,2020-09-12,West Ham,Newcastle,0,2,2,0,0,1,15,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.500000,-6,0,0,0
4,2020-09-13,West Brom,Leicester,0,3,2,0,0,1,7,...,0.000000,0.000000,0.000000,0.000000,0.000000,3.800000,14,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,2021-05-23,Liverpool,Crystal Palace,2,0,0,1,0,0,19,...,85.944444,28.246914,14.268519,45.888889,10.790123,0.214286,-11,3,4,3
376,2021-05-23,Man City,Everton,5,0,0,2,0,0,21,...,70.888889,23.549383,10.648148,44.253086,9.679012,0.111111,-8,-2,-4,-1
377,2021-05-23,Sheffield United,Burnley,1,0,0,1,0,0,12,...,133.842593,16.938272,18.567901,34.583333,21.475309,1.176471,3,-3,-3,-3
378,2021-05-23,West Ham,Southampton,3,0,0,2,0,0,14,...,130.203704,21.925926,15.095679,24.660494,23.750000,0.400000,-9,4,3,0
379,2021-05-23,Wolves,Man United,1,2,2,1,2,2,14,...,134.592593,17.839506,21.197531,28.148148,19.234568,6.500000,11,-5,-1,0

,date,home,away,home_goals,away_goals,results,ht_home_goals,ht_away_goals,ht_result,home_shot,...,home_sot,away_sot,home_foul,away_foul,home_corner,away_corner,home_yellow,away_yellow,home_red,away_red
0,09/08/2019,Liverpool,Norwich,4,1,H,4,0,H,15,...,7,5,9,9,11,2,0,2,0,0
1,10/08/2019,West Ham,Man City,0,5,A,0,1,A,5,...,3,9,6,13,1,1,2,2,0,0
2,10/08/2019,Bournemouth,Sheffield United,1,1,D,0,0,D,13,...,3,3,10,19,3,4,2,1,0,0
3,10/08/2019,Burnley,Southampton,3,0,H,0,0,D,10,...,4,3,6,12,2,7,0,0,0,0
4,10/08/2019,Crystal Palace,Everton,0,0,D,0,0,D,6,...,2,3,16,14,6,2,2,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,26/07/2020,Leicester,Man United,0,2,A,0,0,D,14,...,3,3,12,11,3,3,1,4,1,0
376,26/07/2020,Man City,Norwich,5,0,H,2,0,H,31,...,10,4,7,4,9,0,1,1,0,0
377,26/07/2020,Newcastle,Liverpool,1,3,A,1,1,D,3,...,2,6,11,5,2,4,1,0,0,0
378,26/07/2020,Southampton,Sheffield United,3,1,H,0,1,A,13,...,4,3,9,16,9,1,0,1,0,0
379,26/07/2020,West Ham,Aston Villa,1,1,D,0,0,D,10,...,1,4,16,13,0,7,2,1,0,0

0
1
2
3
4
5
6
7

,date,home,away,home_goals,away_goals,results,ht_home_goals,ht_away_goals,ht_result,home_shot,...,away_shot_attack,home_sot_attack,away_sot_attack,home_corner_attack,away_corner_attack,avg_pos,avg_pos_diff,5_form,3_form,1_form
0,2019-08-09,Liverpool,Norwich,4,1,0,4,0,0,15,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.050000,-19,0,0,0
1,2019-08-10,West Ham,Man City,0,5,2,0,1,2,5,...,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,14,0,0,0
2,2019-08-10,Bournemouth,Sheffield United,1,1,1,0,0,1,13,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.900000,9,0,0,0
3,2019-08-10,Burnley,Southampton,3,0,0,0,0,1,10,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.818182,-2,0,0,0
4,2019-08-10,Crystal Palace,Everton,0,0,1,0,0,1,6,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.166667,2,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,2020-07-26,Leicester,Man United,0,2,2,0,0,1,14,...,119.962963,16.790123,15.540123,34.783951,25.925926,1.250000,1,-1,-2,0
376,2020-07-26,Man City,Norwich,5,0,0,2,0,0,31,...,69.462963,35.493827,6.833333,57.555556,10.299383,0.100000,-18,15,9,3
377,2020-07-26,Newcastle,Liverpool,1,3,2,1,1,1,3,...,216.716049,11.342593,23.407407,17.111111,39.722222,13.000000,12,2,-1,0
378,2020-07-26,Southampton,Sheffield United,3,1,0,0,1,2,13,...,98.518519,18.024691,11.925926,34.061728,25.759259,1.100000,1,5,3,1
379,2020-07-26,West Ham,Aston Villa,1,1,1,0,0,1,10,...,123.429012,25.530864,17.518519,41.481481,20.246914,0.941176,-1,7,4,2

,date,home,away,home_goals,away_goals,results,ht_home_goals,ht_away_goals,ht_result,home_shot,...,home_sot,away_sot,home_foul,away_foul,home_corner,away_corner,home_yellow,away_yellow,home_red,away_red
0,10/08/2018,Man United,Leicester,2,1,H,1,0,H,8,...,6,4,11,8,2,5,2,1,0,0
1,11/08/2018,Bournemouth,Cardiff,2,0,H,1,0,H,12,...,4,1,11,9,7,4,1,1,0,0
2,11/08/2018,Fulham,Crystal Palace,0,2,A,0,1,A,15,...,6,9,9,11,5,5,1,2,0,0
3,11/08/2018,Huddersfield,Chelsea,0,3,A,0,2,A,6,...,1,4,9,8,2,5,2,1,0,0
4,11/08/2018,Newcastle,Tottenham,1,2,A,1,2,A,15,...,2,5,11,12,3,5,2,2,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,12/05/2019,Liverpool,Wolves,2,0,H,1,0,H,13,...,5,2,3,11,4,1,0,2,0,0
376,12/05/2019,Man United,Cardiff,0,2,A,0,1,A,26,...,10,4,9,6,11,2,3,3,0,0
377,12/05/2019,Southampton,Huddersfield,1,1,D,1,0,H,10,...,3,3,8,6,4,3,0,1,0,0
378,12/05/2019,Tottenham,Everton,2,2,D,1,0,H,11,...,3,9,10,13,7,4,0,2,0,0
379,12/05/2019,Watford,West Ham,1,4,A,0,2,A,17,...,8,9,10,10,7,2,1,0,1,0

0
1
2
3
4
5
6
7

,date,home,away,home_goals,away_goals,results,ht_home_goals,ht_away_goals,ht_result,home_shot,...,away_shot_attack,home_sot_attack,away_sot_attack,home_corner_attack,away_corner_attack,avg_pos,avg_pos_diff,5_form,3_form,1_form
0,2018-08-10,Man United,Leicester,2,1,0,1,0,0,8,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.600000,-4,0,0,0
1,2018-08-11,Bournemouth,Cardiff,2,0,0,1,0,0,12,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.722222,-5,0,0,0
2,2018-08-11,Fulham,Crystal Palace,0,2,2,0,1,2,15,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.583333,7,0,0,0
3,2018-08-11,Huddersfield,Chelsea,0,3,2,0,2,2,6,...,0.000000,0.000000,0.000000,0.000000,0.000000,6.666667,17,0,0,0
4,2018-08-11,Newcastle,Tottenham,1,2,2,1,2,2,15,...,0.000000,0.000000,0.000000,0.000000,0.000000,3.500000,10,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,2019-05-12,Liverpool,Wolves,2,0,0,1,0,0,13,...,73.456790,26.515432,7.506173,38.222222,14.429012,0.285714,-5,11,6,0
376,2019-05-12,Man United,Cardiff,0,2,2,0,1,2,26,...,105.796296,39.382716,12.833333,43.101852,18.407407,0.333333,-12,7,1,1
377,2019-05-12,Southampton,Huddersfield,1,1,1,1,0,0,10,...,132.746914,26.277778,13.604938,28.141975,23.296296,0.800000,-4,10,4,1
378,2019-05-12,Tottenham,Everton,2,2,1,1,0,0,11,...,123.453704,20.777778,17.129630,29.027778,21.864198,0.500000,-4,3,2,-1
379,2019-05-12,Watford,West Ham,1,4,2,0,2,2,17,...,111.111111,24.305556,14.444444,26.962963,21.388889,1.222222,2,4,-2,-3

,date,home,away,home_goals,away_goals,results,ht_home_goals,ht_away_goals,ht_result,home_shot,...,home_sot,away_sot,home_foul,away_foul,home_corner,away_corner,home_yellow,away_yellow,home_red,away_red
0,11/08/2017,Arsenal,Leicester,4,3,H,2,2,D,27,...,10,3,9,12,9,4,0,1,0,0
1,12/08/2017,Brighton,Man City,0,2,A,0,0,D,6,...,2,4,6,9,3,10,0,2,0,0
2,12/08/2017,Chelsea,Burnley,2,3,A,0,3,A,19,...,6,5,16,11,8,5,3,3,2,0
3,12/08/2017,Crystal Palace,Huddersfield,0,3,A,0,2,A,14,...,4,6,7,19,12,9,1,3,0,0
4,12/08/2017,Everton,Stoke,1,0,H,1,0,H,9,...,4,1,13,10,6,7,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,13/05/2018,Newcastle,Chelsea,3,0,H,1,0,H,16,...,6,2,11,10,4,2,0,1,0,0
376,13/05/2018,Southampton,Man City,0,1,A,0,0,D,8,...,3,2,8,10,1,12,3,1,0,0
377,13/05/2018,Swansea,Stoke,1,2,A,1,2,A,26,...,11,5,12,9,6,0,1,2,0,0
378,13/05/2018,Tottenham,Leicester,5,4,H,1,2,A,14,...,6,9,9,13,4,4,1,2,0,0
379,13/05/2018,West Ham,Everton,3,1,H,1,0,H,15,...,4,7,10,13,6,6,0,1,0,0

0
1
2
3
4
5
6
7

,date,home,away,home_goals,away_goals,results,ht_home_goals,ht_away_goals,ht_result,home_shot,...,away_shot_attack,home_sot_attack,away_sot_attack,home_corner_attack,away_corner_attack,avg_pos,avg_pos_diff,5_form,3_form,1_form
0,2017-08-11,Arsenal,Leicester,4,3,0,2,2,1,27,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.666667,-3,0,0,0
1,2017-08-12,Brighton,Man City,0,2,2,0,0,1,6,...,0.000000,0.000000,0.000000,0.000000,0.000000,15.000000,14,0,0,0
2,2017-08-12,Chelsea,Burnley,2,3,2,0,3,2,19,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.714286,-2,0,0,0
3,2017-08-12,Crystal Palace,Huddersfield,0,3,2,0,2,2,14,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.750000,-4,0,0,0
4,2017-08-12,Everton,Stoke,1,0,0,1,0,0,9,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.444444,-10,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,2018-05-13,Newcastle,Chelsea,3,0,0,1,0,0,16,...,159.654321,12.638889,16.722222,20.725309,22.962963,2.200000,6,3,-3,-3
376,2018-05-13,Southampton,Man City,0,1,2,0,0,1,8,...,197.037037,10.049383,24.000000,21.049383,31.845679,17.000000,16,-10,-5,0
377,2018-05-13,Swansea,Stoke,1,2,2,1,2,2,26,...,112.944444,20.049383,15.250000,40.379630,14.000000,1.055556,1,3,-1,-1
378,2018-05-13,Tottenham,Leicester,5,4,0,1,2,2,14,...,85.632716,32.722222,10.469136,52.768519,17.990741,0.333333,-6,6,3,3
379,2018-05-13,West Ham,Everton,3,1,0,1,0,0,15,...,102.728395,18.148148,11.543210,28.731481,14.000000,1.625000,5,-2,-5,-2

,date,home,away,home_goals,away_goals,results,ht_home_goals,ht_away_goals,ht_result,home_shot,...,home_sot,away_sot,home_foul,away_foul,home_corner,away_corner,home_yellow,away_yellow,home_red,away_red
0,06/08/2021,Monaco,Nantes,1,1,D,1,1,D,15,...,3,1,6,14,5,2,0,0,0,0
1,07/08/2021,Lyon,Brest,1,1,D,0,1,A,17,...,4,8,10,12,9,4,1,1,0,0
2,07/08/2021,Troyes,Paris SG,1,2,A,1,2,A,15,...,7,3,3,15,9,1,1,4,0,0
3,08/08/2021,Rennes,Lens,1,1,D,1,1,D,10,...,2,6,10,14,3,9,0,2,0,0
4,08/08/2021,Bordeaux,Clermont,0,2,A,0,0,D,10,...,6,10,13,9,5,10,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
353,08/05/2022,Angers,Bordeaux,4,1,H,2,0,H,13,...,8,3,14,18,6,3,1,5,0,0
354,08/05/2022,Clermont,Montpellier,2,1,H,1,1,D,12,...,4,2,10,15,5,3,2,4,0,0
355,08/05/2022,Reims,Lens,1,2,A,1,0,H,7,...,2,5,12,9,3,10,1,2,0,0
356,08/05/2022,Lorient,Marseille,0,3,A,0,1,A,7,...,0,6,22,10,4,8,1,1,0,0
357,08/05/2022,Paris SG,Troyes,2,2,D,2,1,H,17,...,7,3,10,19,7,4,1,2,0,0

0
1
2
3
4
5
6
7

,date,home,away,home_goals,away_goals,results,ht_home_goals,ht_away_goals,ht_result,home_shot,...,away_shot_attack,home_sot_attack,away_sot_attack,home_corner_attack,away_corner_attack,avg_pos,avg_pos_diff,5_form,3_form,1_form
0,2021-08-06,Monaco,Nantes,1,1,1,1,1,1,15,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.333333,-6,0,0,0
1,2021-08-07,Lyon,Brest,1,1,1,0,1,2,17,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.727273,-3,0,0,0
2,2021-08-07,Troyes,Paris SG,1,2,2,1,2,2,15,...,0.000000,0.000000,0.000000,0.000000,0.000000,15.000000,14,0,0,0
3,2021-08-08,Rennes,Lens,1,1,1,1,1,1,10,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.571429,-3,0,0,0
4,2021-08-08,Bordeaux,Clermont,0,2,2,0,0,1,10,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.250000,4,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
353,2022-05-08,Angers,Bordeaux,4,1,0,2,0,0,13,...,117.062284,20.346021,12.442907,31.858131,12.653979,0.700000,-6,2,3,0
354,2022-05-08,Clermont,Montpellier,2,1,0,1,1,1,12,...,75.847751,26.159170,13.079585,31.494810,15.764706,1.333333,4,-1,1,1
355,2022-05-08,Reims,Lens,1,2,2,1,0,0,7,...,126.788927,16.470588,12.622837,28.339100,20.207612,1.857143,6,-3,-1,-1
356,2022-05-08,Lorient,Marseille,0,3,2,0,1,2,7,...,128.885813,9.647059,14.249135,21.249135,25.785467,8.500000,15,-3,0,-3
357,2022-05-08,Paris SG,Troyes,2,2,1,2,1,0,17,...,88.989619,26.065744,11.799308,30.242215,13.214533,0.066667,-14,9,6,1

,date,home,away,home_goals,away_goals,results,ht_home_goals,ht_away_goals,ht_result,home_shot,...,home_sot,away_sot,home_foul,away_foul,home_corner,away_corner,home_yellow,away_yellow,home_red,away_red
0,21/08/2020,Bordeaux,Nantes,0,0,D,0,0,D,5,...,1,1,10,15,2,3,2,3,1,0
1,22/08/2020,Dijon,Angers,0,1,A,0,1,A,9,...,1,4,15,8,3,9,0,0,0,0
2,22/08/2020,Lille,Rennes,1,1,D,1,0,H,5,...,1,3,12,16,4,2,0,1,1,1
3,23/08/2020,Monaco,Reims,2,2,D,1,2,A,22,...,5,3,8,14,8,1,1,3,0,0
4,23/08/2020,Lorient,Strasbourg,3,1,H,0,1,A,10,...,7,1,17,10,6,1,3,2,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,23/05/2021,Nantes,Montpellier,1,2,A,1,1,D,15,...,5,5,8,11,9,5,2,2,0,0
376,23/05/2021,Reims,Bordeaux,1,2,A,1,1,D,10,...,3,5,11,6,5,2,1,1,0,0
377,23/05/2021,Rennes,Nimes,2,0,H,1,0,H,13,...,6,2,11,10,4,3,1,0,0,0
378,23/05/2021,St Etienne,Dijon,0,1,A,0,1,A,19,...,5,2,13,10,9,3,1,0,0,0
379,23/05/2021,Strasbourg,Lorient,1,1,D,1,0,H,6,...,2,1,17,9,2,3,1,1,0,0

0
1
2
3
4
5
6
7

,date,home,away,home_goals,away_goals,results,ht_home_goals,ht_away_goals,ht_result,home_shot,...,away_shot_attack,home_sot_attack,away_sot_attack,home_corner_attack,away_corner_attack,avg_pos,avg_pos_diff,5_form,3_form,1_form
0,2020-08-21,Bordeaux,Nantes,0,0,1,0,0,1,5,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.666667,-6,0,0,0
1,2020-08-22,Dijon,Angers,0,1,2,0,1,2,9,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.538462,7,0,0,0
2,2020-08-22,Lille,Rennes,1,1,1,1,0,0,5,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.166667,-5,0,0,0
3,2020-08-23,Monaco,Reims,2,2,1,1,2,2,22,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.187500,-13,0,0,0
4,2020-08-23,Lorient,Strasbourg,3,1,0,0,1,2,10,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.071429,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,2021-05-23,Nantes,Montpellier,1,2,2,1,1,1,15,...,118.895062,19.015432,15.246914,24.796296,15.046296,2.250000,10,-2,-1,0
376,2021-05-23,Reims,Bordeaux,1,2,2,1,1,1,10,...,126.950617,14.679012,16.666667,24.981481,20.833333,1.333333,4,0,1,0
377,2021-05-23,Rennes,Nimes,2,0,0,1,0,0,13,...,91.000000,24.716049,12.888889,34.567901,11.287037,0.315789,-13,3,3,-2
378,2021-05-23,St Etienne,Dijon,0,1,2,0,1,2,19,...,97.598765,26.913580,10.790123,36.111111,16.398148,0.550000,-9,6,6,3
379,2021-05-23,Strasbourg,Lorient,1,1,1,1,0,0,6,...,97.438272,22.382716,13.611111,27.432099,19.728395,0.933333,-1,1,0,0

,date,home,away,home_goals,away_goals,results,ht_home_goals,ht_away_goals,ht_result,home_shot,...,home_sot,away_sot,home_foul,away_foul,home_corner,away_corner,home_yellow,away_yellow,home_red,away_red
0,09/08/2019,Monaco,Lyon,0,3,A,0,2,A,7,...,1,3,10,17,2,5,2,2,1,0
1,10/08/2019,Marseille,Reims,0,2,A,0,0,D,10,...,2,5,18,8,5,3,1,0,0,0
2,10/08/2019,Angers,Bordeaux,3,1,H,3,1,H,14,...,4,3,11,15,4,3,2,1,0,0
3,10/08/2019,Brest,Toulouse,1,1,D,1,0,H,16,...,5,3,11,14,4,7,0,0,0,0
4,10/08/2019,Dijon,St Etienne,1,2,A,1,2,A,15,...,7,4,17,10,12,5,0,2,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
274,07/03/2020,Nice,Monaco,2,1,H,0,1,A,12,...,5,4,11,15,6,3,1,4,0,1
275,07/03/2020,Reims,Brest,1,0,H,1,0,H,12,...,3,4,7,13,5,5,3,2,1,0
276,08/03/2020,St Etienne,Bordeaux,1,1,D,0,0,D,11,...,4,2,14,16,7,4,4,3,1,0
277,08/03/2020,Rennes,Montpellier,5,0,H,2,0,H,16,...,9,1,9,10,2,7,2,3,0,0
278,08/03/2020,Lille,Lyon,1,0,H,1,0,H,13,...,3,2,20,13,4,3,1,3,0,0

0
1
2
3
4
5
6
7

,date,home,away,home_goals,away_goals,results,ht_home_goals,ht_away_goals,ht_result,home_shot,...,away_shot_attack,home_sot_attack,away_sot_attack,home_corner_attack,away_corner_attack,avg_pos,avg_pos_diff,5_form,3_form,1_form
0,2019-08-09,Monaco,Lyon,0,3,2,0,2,2,7,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.777778,-2,0,0,0
1,2019-08-10,Marseille,Reims,0,2,2,0,0,1,10,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.333333,-4,0,0,0
2,2019-08-10,Angers,Bordeaux,3,1,0,3,1,0,14,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.846154,-2,0,0,0
3,2019-08-10,Brest,Toulouse,1,1,1,1,0,0,16,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.700000,-6,0,0,0
4,2019-08-10,Dijon,St Etienne,1,2,2,1,2,2,15,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.941176,-1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
274,2020-03-07,Nice,Monaco,2,1,0,0,1,2,12,...,156.379121,26.538462,20.395604,24.263736,28.714286,0.714286,-2,2,0,0
275,2020-03-07,Reims,Brest,1,0,0,1,0,0,12,...,89.041420,21.118343,7.846154,37.278107,14.970414,0.428571,-8,3,2,2
276,2020-03-08,St Etienne,Bordeaux,1,1,1,0,0,1,11,...,117.098901,14.461538,14.851648,27.296703,16.681319,1.307692,4,-3,0,1
277,2020-03-08,Rennes,Montpellier,5,0,0,2,0,0,16,...,107.627219,23.857988,10.863905,31.065089,17.230769,0.375000,-5,7,7,3
278,2020-03-08,Lille,Lyon,1,0,0,1,0,0,13,...,112.224490,17.984694,11.969388,23.877551,15.091837,0.444444,-5,2,3,0

,date,home,away,home_goals,away_goals,results,ht_home_goals,ht_away_goals,ht_result,home_shot,...,home_sot,away_sot,home_foul,away_foul,home_corner,away_corner,home_yellow,away_yellow,home_red,away_red
0,10/08/2018,Marseille,Toulouse,4,0,H,1,0,H,23,...,10,1,7,20,5,1,1,3,0,0
1,11/08/2018,Angers,Nimes,3,4,A,1,1,D,21,...,7,5,20,12,5,1,2,2,0,1
2,11/08/2018,Lille,Rennes,3,1,H,1,1,D,15,...,6,2,12,13,2,6,1,0,0,0
3,11/08/2018,Montpellier,Dijon,1,2,A,1,0,H,16,...,7,4,15,21,4,2,2,2,0,0
4,11/08/2018,Nantes,Monaco,1,3,A,0,0,D,16,...,4,6,8,15,7,2,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,24/05/2019,Nantes,Strasbourg,0,1,A,0,0,D,21,...,1,1,7,8,4,4,2,1,0,0
376,24/05/2019,Nice,Monaco,2,0,H,1,0,H,8,...,2,4,13,10,3,4,2,3,0,0
377,24/05/2019,Nimes,Lyon,2,3,A,2,1,H,17,...,8,8,8,8,11,9,1,1,0,0
378,24/05/2019,Reims,Paris SG,3,1,H,1,0,H,10,...,6,2,14,8,4,5,2,1,0,0
379,24/05/2019,Rennes,Lille,3,1,H,1,1,D,13,...,8,7,10,10,4,7,1,2,0,1

0
1
2
3
4
5
6
7

,date,home,away,home_goals,away_goals,results,ht_home_goals,ht_away_goals,ht_result,home_shot,...,away_shot_attack,home_sot_attack,away_sot_attack,home_corner_attack,away_corner_attack,avg_pos,avg_pos_diff,5_form,3_form,1_form
0,2018-08-10,Marseille,Toulouse,4,0,0,1,0,0,23,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.312500,-11,0,0,0
1,2018-08-11,Angers,Nimes,3,4,2,1,1,1,21,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.444444,4,0,0,0
2,2018-08-11,Lille,Rennes,3,1,0,1,1,1,15,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.200000,-8,0,0,0
3,2018-08-11,Montpellier,Dijon,1,2,2,1,0,0,16,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.333333,-12,0,0,0
4,2018-08-11,Nantes,Monaco,1,3,2,0,0,1,16,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.705882,-5,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,2019-05-24,Nantes,Strasbourg,0,1,2,0,0,1,21,...,85.419753,23.500000,10.592593,33.000000,15.777778,1.090909,1,9,7,3
376,2019-05-24,Nice,Monaco,2,0,0,1,0,0,8,...,152.000000,17.067901,16.543210,23.888889,22.250000,0.411765,-10,3,3,1
377,2019-05-24,Nimes,Lyon,2,3,2,2,1,0,17,...,163.117284,23.283951,20.166667,22.222222,17.854938,3.000000,6,3,3,0
378,2019-05-24,Reims,Paris SG,3,1,0,1,0,0,10,...,133.185185,14.682099,17.975309,22.283951,22.685185,8.000000,7,-1,-2,-3
379,2019-05-24,Rennes,Lille,3,1,0,1,1,1,13,...,134.043210,16.790123,16.527778,36.296296,18.055556,5.000000,8,-3,0,0

,date,home,away,home_goals,away_goals,results,ht_home_goals,ht_away_goals,ht_result,home_shot,...,home_sot,away_sot,home_foul,away_foul,home_corner,away_corner,home_yellow,away_yellow,home_red,away_red
0,04/08/17,Monaco,Toulouse,3,2,H,1,1,D,17,...,7,3,12,23,8,2,1,3,0,0
1,05/08/17,Lyon,Strasbourg,4,0,H,1,0,H,12,...,7,1,11,16,3,4,2,3,0,0
2,05/08/17,Metz,Guingamp,1,3,A,1,1,D,6,...,4,5,9,13,3,3,1,2,0,0
3,05/08/17,Montpellier,Caen,1,0,H,0,0,D,10,...,2,1,9,11,9,3,2,1,0,0
4,05/08/17,Paris SG,Amiens,2,0,H,1,0,H,16,...,5,1,9,12,8,3,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,19/05/18,Nantes,Strasbourg,1,0,H,1,0,H,9,...,2,2,6,12,2,7,0,0,0,0
376,19/05/18,Rennes,Montpellier,1,1,D,1,1,D,9,...,1,6,10,12,8,4,0,1,0,1
377,19/05/18,St Etienne,Lille,5,0,H,3,0,H,14,...,7,3,6,5,7,4,1,0,0,0
378,19/05/18,Toulouse,Guingamp,2,1,H,0,0,D,17,...,7,6,9,14,9,5,3,2,0,0
379,19/05/18,Troyes,Monaco,0,3,A,0,1,A,12,...,4,14,14,13,6,2,1,1,0,0

0
1
2
3
4
5
6
7

,date,home,away,home_goals,away_goals,results,ht_home_goals,ht_away_goals,ht_result,home_shot,...,away_shot_attack,home_sot_attack,away_sot_attack,home_corner_attack,away_corner_attack,avg_pos,avg_pos_diff,5_form,3_form,1_form
0,2017-08-04,Monaco,Toulouse,3,2,0,1,1,1,17,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.111111,-16,0,0,0
1,2017-08-05,Lyon,Strasbourg,4,0,0,1,0,0,12,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.176471,-14,0,0,0
2,2017-08-05,Metz,Guingamp,1,3,2,1,1,1,6,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.666667,8,0,0,0
3,2017-08-05,Montpellier,Caen,1,0,0,0,0,1,10,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.625000,-6,0,0,0
4,2017-08-05,Paris SG,Amiens,2,0,0,1,0,0,16,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.076923,-12,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,2018-05-19,Nantes,Strasbourg,1,0,0,1,0,0,9,...,113.404321,22.888889,9.719136,29.564815,22.388889,0.529412,-8,3,1,0
376,2018-05-19,Rennes,Montpellier,1,1,1,1,1,1,9,...,119.259259,12.666667,12.962963,31.851852,14.617284,0.500000,-5,0,2,0
377,2018-05-19,St Etienne,Lille,5,0,0,3,0,0,14,...,134.623457,24.626543,16.250000,28.990741,22.049383,0.466667,-8,5,1,-3
378,2018-05-19,Toulouse,Guingamp,2,1,0,0,0,1,17,...,113.722222,24.370370,13.148148,23.623457,15.120370,1.500000,6,2,1,0
379,2018-05-19,Troyes,Monaco,0,3,2,0,1,2,12,...,148.641975,18.953704,18.777778,28.842593,21.512346,9.500000,17,-3,0,0

,date,home,away,home_goals,away_goals,results,ht_home_goals,ht_away_goals,ht_result,home_shot,...,home_sot,away_sot,home_foul,away_foul,home_corner,away_corner,home_yellow,away_yellow,home_red,away_red
0,13/08/2021,M'gladbach,Bayern Munich,1,1,D,1,1,D,11,...,5,10,7,4,3,8,2,0,0,0
1,14/08/2021,Augsburg,Hoffenheim,0,4,A,0,1,A,7,...,0,8,8,9,6,5,1,2,0,0
2,14/08/2021,Bielefeld,Freiburg,0,0,D,0,0,D,10,...,4,6,13,10,4,9,3,4,0,0
3,14/08/2021,Stuttgart,Greuther Furth,5,1,H,2,0,H,30,...,15,4,11,8,9,2,0,1,0,0
4,14/08/2021,Union Berlin,Leverkusen,1,1,D,1,1,D,8,...,5,4,13,5,1,6,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
292,07/05/2022,Hoffenheim,Leverkusen,2,4,A,2,1,H,12,...,5,8,14,10,6,7,1,0,0,0
293,07/05/2022,Hertha,Mainz,1,2,A,1,1,D,10,...,1,6,19,18,3,8,3,1,0,0
294,08/05/2022,Ein Frankfurt,M'gladbach,1,1,D,0,1,A,18,...,4,7,6,7,9,1,1,0,0,0
295,08/05/2022,Bayern Munich,Stuttgart,2,2,D,2,1,H,25,...,8,5,10,8,7,4,2,3,1,0
296,08/05/2022,RB Leipzig,Augsburg,4,0,H,1,0,H,14,...,8,1,8,16,5,1,1,2,0,0

0
1
2
3
4
5
6
7

,date,home,away,home_goals,away_goals,results,ht_home_goals,ht_away_goals,ht_result,home_shot,...,away_shot_attack,home_sot_attack,away_sot_attack,home_corner_attack,away_corner_attack,avg_pos,avg_pos_diff,5_form,3_form,1_form
0,2021-08-13,M'gladbach,Bayern Munich,1,1,1,1,1,1,11,...,0.000000,0.000000,0.000000,0.000000,0.000000,11.000000,10,0,0,0
1,2021-08-14,Augsburg,Hoffenheim,0,4,2,0,1,2,7,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.750000,6,0,0,0
2,2021-08-14,Bielefeld,Freiburg,0,0,1,0,0,1,10,...,0.000000,0.000000,0.000000,0.000000,0.000000,3.400000,12,0,0,0
3,2021-08-14,Stuttgart,Greuther Furth,5,1,0,2,0,0,30,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.888889,-2,0,0,0
4,2021-08-14,Union Berlin,Leverkusen,1,1,1,1,1,1,8,...,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,3,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
292,2022-05-07,Hoffenheim,Leverkusen,2,4,2,2,1,0,12,...,126.750000,25.613281,18.480469,32.296875,18.703125,2.666667,5,-3,-6,-3
293,2022-05-07,Hertha,Mainz,1,2,2,1,1,1,10,...,163.359375,22.089844,23.816406,21.984375,30.679688,1.666667,6,5,6,3
294,2022-05-08,Ein Frankfurt,M'gladbach,1,1,1,0,1,2,18,...,139.144531,28.800781,20.234375,38.812500,18.597656,1.181818,2,-2,-5,0
295,2022-05-08,Bayern Munich,Stuttgart,2,2,1,2,1,0,25,...,87.125000,39.000000,9.316406,30.250000,8.062500,0.062500,-15,10,7,3
296,2022-05-08,RB Leipzig,Augsburg,4,0,0,1,0,0,14,...,86.109375,31.449219,11.062500,24.796875,9.453125,0.285714,-10,2,1,-3

,date,home,away,home_goals,away_goals,results,ht_home_goals,ht_away_goals,ht_result,home_shot,...,home_sot,away_sot,home_foul,away_foul,home_corner,away_corner,home_yellow,away_yellow,home_red,away_red
0,18/09/2020,Bayern Munich,Schalke 04,8,0,H,3,0,H,22,...,12,1,11,12,9,2,1,2,0,0
1,19/09/2020,Ein Frankfurt,Bielefeld,1,1,D,0,0,D,18,...,6,4,14,13,14,3,2,2,0,0
2,19/09/2020,FC Koln,Hoffenheim,2,3,A,1,2,A,13,...,6,7,12,13,1,6,0,0,0,0
3,19/09/2020,Stuttgart,Freiburg,2,3,A,0,2,A,22,...,7,6,12,16,7,2,2,2,0,0
4,19/09/2020,Union Berlin,Augsburg,1,3,A,0,1,A,13,...,3,5,9,9,8,1,2,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
301,22/05/2021,Hoffenheim,Hertha,2,1,H,0,1,A,21,...,5,5,8,5,4,3,0,0,0,0
302,22/05/2021,Stuttgart,Bielefeld,0,2,A,0,0,D,11,...,0,3,12,11,3,6,1,0,0,0
303,22/05/2021,Union Berlin,RB Leipzig,2,1,H,0,0,D,11,...,5,7,15,10,7,3,2,1,0,0
304,22/05/2021,Werder Bremen,M'gladbach,2,4,A,0,1,A,16,...,8,8,19,12,3,5,1,2,0,0
305,22/05/2021,Wolfsburg,Mainz,2,3,A,0,1,A,16,...,5,8,12,19,7,7,3,3,0,0

0
1
2
3
4
5
6
7

,date,home,away,home_goals,away_goals,results,ht_home_goals,ht_away_goals,ht_result,home_shot,...,away_shot_attack,home_sot_attack,away_sot_attack,home_corner_attack,away_corner_attack,avg_pos,avg_pos_diff,5_form,3_form,1_form
0,2020-09-18,Bayern Munich,Schalke 04,8,0,0,3,0,0,22,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.055556,-17,0,0,0
1,2020-09-19,Ein Frankfurt,Bielefeld,1,1,1,0,0,1,18,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.357143,-9,0,0,0
2,2020-09-19,FC Koln,Hoffenheim,2,3,2,1,2,2,13,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.454545,5,0,0,0
3,2020-09-19,Stuttgart,Freiburg,2,3,2,0,2,2,22,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.111111,1,0,0,0
4,2020-09-19,Union Berlin,Augsburg,1,3,2,0,1,2,13,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.538462,-6,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
301,2021-05-22,Hoffenheim,Hertha,2,1,0,0,1,2,21,...,100.507812,23.730469,15.441406,23.242188,17.445312,0.733333,-4,5,2,0
302,2021-05-22,Stuttgart,Bielefeld,0,2,2,0,0,1,11,...,122.625000,28.968750,15.812500,23.414062,17.062500,0.714286,-4,3,1,2
303,2021-05-22,Union Berlin,RB Leipzig,2,1,0,0,0,1,11,...,136.148438,13.578125,20.195312,16.539062,21.000000,3.500000,5,2,4,3
304,2021-05-22,Werder Bremen,M'gladbach,2,4,2,0,1,2,16,...,156.320312,19.218750,22.640625,16.441406,24.968750,2.125000,9,-3,0,1
305,2021-05-22,Wolfsburg,Mainz,2,3,2,0,1,2,16,...,107.226562,24.996094,13.203125,24.859375,17.746094,0.333333,-8,-2,-4,2

,date,home,away,home_goals,away_goals,results,ht_home_goals,ht_away_goals,ht_result,home_shot,...,home_sot,away_sot,home_foul,away_foul,home_corner,away_corner,home_yellow,away_yellow,home_red,away_red
0,16/08/2019,Bayern Munich,Hertha,2,2,D,1,2,A,17,...,7,3,6,17,12,0,3,3,0,0
1,17/08/2019,Dortmund,Augsburg,5,1,H,1,1,D,23,...,10,1,8,6,10,0,0,0,0,0
2,17/08/2019,Freiburg,Mainz,3,0,H,0,0,D,19,...,8,5,6,15,5,5,1,3,0,0
3,17/08/2019,Leverkusen,Paderborn,3,2,H,2,2,D,13,...,4,6,8,9,6,6,2,0,0,0
4,17/08/2019,Werder Bremen,Fortuna Dusseldorf,1,3,A,0,1,A,23,...,10,7,8,13,14,5,0,2,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
301,27/06/2020,Leverkusen,Mainz,1,0,H,1,0,H,13,...,2,1,10,10,11,4,1,1,0,0
302,27/06/2020,M'gladbach,Hertha,2,1,H,1,0,H,22,...,8,2,7,15,3,3,1,2,0,0
303,27/06/2020,Union Berlin,Fortuna Dusseldorf,3,0,H,1,0,H,11,...,7,4,15,6,6,10,0,1,0,0
304,27/06/2020,Werder Bremen,FC Koln,6,1,H,3,0,H,18,...,9,2,22,16,7,5,1,2,0,0
305,27/06/2020,Wolfsburg,Bayern Munich,0,4,A,0,2,A,11,...,4,11,13,9,3,6,3,0,1,0

0
1
2
3
4
5
6
7

,date,home,away,home_goals,away_goals,results,ht_home_goals,ht_away_goals,ht_result,home_shot,...,away_shot_attack,home_sot_attack,away_sot_attack,home_corner_attack,away_corner_attack,avg_pos,avg_pos_diff,5_form,3_form,1_form
0,2019-08-16,Bayern Munich,Hertha,2,2,1,1,2,2,17,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.100000,-9,0,0,0
1,2019-08-17,Dortmund,Augsburg,5,1,0,1,1,1,23,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.142857,-12,0,0,0
2,2019-08-17,Freiburg,Mainz,3,0,0,0,0,1,19,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.615385,-5,0,0,0
3,2019-08-17,Leverkusen,Paderborn,3,2,0,2,2,1,13,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.277778,-13,0,0,0
4,2019-08-17,Werder Bremen,Fortuna Dusseldorf,1,3,2,0,1,2,23,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.941176,-1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
301,2020-06-27,Leverkusen,Mainz,1,0,0,1,0,0,13,...,119.531250,34.882812,18.304688,55.617188,13.117188,0.384615,-8,1,-4,0
302,2020-06-27,M'gladbach,Hertha,2,1,0,1,0,0,22,...,147.000000,33.222656,18.320312,34.664062,16.917969,0.400000,-6,4,5,3
303,2020-06-27,Union Berlin,Fortuna Dusseldorf,3,0,0,1,0,0,11,...,139.843750,30.640625,13.535156,24.078125,17.671875,0.647059,-6,0,3,2
304,2020-06-27,Werder Bremen,FC Koln,6,1,0,3,0,0,18,...,160.156250,20.187500,20.058594,31.289062,27.226562,1.066667,1,-3,-1,0
305,2020-06-27,Wolfsburg,Bayern Munich,0,4,2,0,2,2,11,...,163.476562,20.312500,23.625000,21.683594,23.718750,7.000000,6,-10,-8,-2

,date,home,away,home_goals,away_goals,results,ht_home_goals,ht_away_goals,ht_result,home_shot,...,home_sot,away_sot,home_foul,away_foul,home_corner,away_corner,home_yellow,away_yellow,home_red,away_red
0,24/08/2018,Bayern Munich,Hoffenheim,3,1,H,1,0,H,16,...,5,5,2,21,7,2,1,4,0,0
1,25/08/2018,Fortuna Dusseldorf,Augsburg,1,2,A,1,0,H,9,...,5,7,11,10,7,5,1,0,0,0
2,25/08/2018,Freiburg,Ein Frankfurt,0,2,A,0,1,A,22,...,6,2,7,12,6,4,1,2,0,0
3,25/08/2018,Hertha,Nurnberg,1,0,H,1,0,H,10,...,3,3,13,10,8,4,2,2,0,0
4,25/08/2018,M'gladbach,Leverkusen,2,0,H,0,0,D,17,...,7,3,10,10,9,5,1,2,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
301,18/05/2019,Mainz,Hoffenheim,4,2,H,0,2,A,22,...,12,7,17,9,8,5,2,4,0,1
302,18/05/2019,M'gladbach,Dortmund,0,2,A,0,1,A,7,...,0,3,8,6,2,2,1,1,0,0
303,18/05/2019,Schalke 04,Stuttgart,0,0,D,0,0,D,12,...,3,8,10,8,7,5,0,1,0,0
304,18/05/2019,Werder Bremen,RB Leipzig,2,1,H,1,0,H,6,...,3,3,16,12,3,9,2,2,0,0
305,18/05/2019,Wolfsburg,Augsburg,8,1,H,3,0,H,18,...,10,4,5,11,6,5,0,2,0,0

0
1
2
3
4
5
6
7

,date,home,away,home_goals,away_goals,results,ht_home_goals,ht_away_goals,ht_result,home_shot,...,away_shot_attack,home_sot_attack,away_sot_attack,home_corner_attack,away_corner_attack,avg_pos,avg_pos_diff,5_form,3_form,1_form
0,2018-08-24,Bayern Munich,Hoffenheim,3,1,0,1,0,0,16,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.111111,-8,0,0,0
1,2018-08-25,Fortuna Dusseldorf,Augsburg,1,2,2,1,0,0,9,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.666667,-5,0,0,0
2,2018-08-25,Freiburg,Ein Frankfurt,0,2,2,0,1,2,22,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.857143,6,0,0,0
3,2018-08-25,Hertha,Nurnberg,1,0,0,1,0,0,10,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.611111,-7,0,0,0
4,2018-08-25,M'gladbach,Leverkusen,2,0,0,0,0,1,17,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.250000,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
301,2019-05-18,Mainz,Hoffenheim,4,2,0,0,2,2,22,...,209.671875,23.242188,29.917969,21.199219,24.679688,1.333333,3,2,0,0
302,2019-05-18,M'gladbach,Dortmund,0,2,2,0,1,2,7,...,148.945312,23.515625,21.632812,31.324219,25.234375,2.500000,3,-4,-2,0
303,2019-05-18,Schalke 04,Stuttgart,0,0,1,0,0,1,12,...,125.039062,23.203125,11.882812,22.171875,18.750000,0.875000,-2,0,1,1
304,2019-05-18,Werder Bremen,RB Leipzig,2,1,0,1,0,0,6,...,170.593750,19.359375,24.640625,20.343750,27.371094,2.666667,5,-2,0,0
305,2019-05-18,Wolfsburg,Augsburg,8,1,0,3,0,0,18,...,156.152344,29.789062,19.375000,33.769531,21.070312,0.400000,-9,6,3,2

,date,home,away,home_goals,away_goals,results,ht_home_goals,ht_away_goals,ht_result,home_shot,...,home_sot,away_sot,home_foul,away_foul,home_corner,away_corner,home_yellow,away_yellow,home_red,away_red
0,18/08/17,Bayern Munich,Leverkusen,3,1,H,2,0,H,13,...,8,4,13,17,4,5,1,2,0,0
1,19/08/17,Hamburg,Augsburg,1,0,H,1,0,H,11,...,5,1,18,16,3,7,4,3,0,0
2,19/08/17,Hertha,Stuttgart,2,0,H,0,0,D,10,...,3,2,18,12,5,1,2,1,0,0
3,19/08/17,Hoffenheim,Werder Bremen,1,0,H,0,0,D,14,...,3,2,17,15,6,4,1,3,0,0
4,19/08/17,Mainz,Hannover,0,1,A,0,0,D,14,...,6,2,18,14,13,1,3,5,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
301,12/05/18,Hoffenheim,Dortmund,3,1,H,1,0,H,12,...,8,4,4,7,2,3,0,0,0,0
302,12/05/18,Leverkusen,Hannover,3,2,H,2,0,H,27,...,8,4,9,11,5,2,2,2,0,0
303,12/05/18,Mainz,Werder Bremen,1,2,A,1,1,D,13,...,1,3,10,6,3,7,0,1,0,0
304,12/05/18,Schalke 04,Ein Frankfurt,1,0,H,1,0,H,11,...,5,2,10,12,4,3,0,2,0,0
305,12/05/18,Wolfsburg,FC Koln,4,1,H,1,1,D,16,...,8,1,12,17,5,10,2,3,0,0

0
1
2
3
4
5
6
7

,date,home,away,home_goals,away_goals,results,ht_home_goals,ht_away_goals,ht_result,home_shot,...,away_shot_attack,home_sot_attack,away_sot_attack,home_corner_attack,away_corner_attack,avg_pos,avg_pos_diff,5_form,3_form,1_form
0,2017-08-18,Bayern Munich,Leverkusen,3,1,0,2,0,0,13,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.333333,-2,0,0,0
1,2017-08-19,Hamburg,Augsburg,1,0,0,1,0,0,11,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.416667,5,0,0,0
2,2017-08-19,Hertha,Stuttgart,2,0,0,0,0,1,10,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.428571,3,0,0,0
3,2017-08-19,Hoffenheim,Werder Bremen,1,0,0,0,0,1,14,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.363636,-7,0,0,0
4,2017-08-19,Mainz,Hannover,0,1,2,0,0,1,14,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.153846,2,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
301,2018-05-12,Hoffenheim,Dortmund,3,1,0,1,0,0,12,...,148.500000,25.781250,18.207031,17.500000,18.027344,0.800000,-1,8,8,2
302,2018-05-12,Leverkusen,Hannover,3,2,0,2,0,0,27,...,96.503906,33.722656,11.515625,42.214844,9.570312,0.230769,-10,5,3,0
303,2018-05-12,Mainz,Werder Bremen,1,2,2,1,1,1,13,...,111.003906,25.531250,12.203125,21.101562,22.148438,1.363636,4,4,4,3
304,2018-05-12,Schalke 04,Ein Frankfurt,1,0,0,1,0,0,11,...,98.753906,24.363281,13.804688,16.253906,13.078125,0.250000,-6,13,7,1
305,2018-05-12,Wolfsburg,FC Koln,4,1,0,1,1,1,16,...,127.140625,24.250000,10.406250,24.339844,22.464844,0.888889,-2,-2,1,0

,date,home,away,home_goals,away_goals,results,ht_home_goals,ht_away_goals,ht_result,home_shot,...,home_sot,away_sot,home_foul,away_foul,home_corner,away_corner,home_yellow,away_yellow,home_red,away_red
0,21/08/2021,Inter,Genoa,4,0,H,2,0,H,17,...,8,5,18,7,8,2,1,2,0,0
1,21/08/2021,Verona,Sassuolo,2,3,A,0,1,A,12,...,4,8,11,12,7,4,3,2,1,0
2,21/08/2021,Empoli,Lazio,1,3,A,1,3,A,16,...,5,5,13,10,5,3,2,1,0,0
3,21/08/2021,Torino,Atalanta,1,2,A,0,1,A,19,...,8,2,17,13,5,1,2,2,0,0
4,22/08/2021,Bologna,Salernitana,3,2,H,0,0,D,18,...,7,4,13,15,9,4,6,3,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
355,08/05/2022,Spezia,Atalanta,1,3,A,1,1,D,5,...,1,6,10,12,0,3,2,3,0,0
356,08/05/2022,Venezia,Bologna,4,3,H,2,1,H,18,...,9,10,10,13,4,8,2,4,0,0
357,08/05/2022,Salernitana,Cagliari,1,1,D,0,0,D,13,...,2,3,12,17,7,6,5,2,1,1
358,08/05/2022,Verona,Milan,1,3,A,1,1,D,10,...,3,8,15,7,5,8,2,1,0,0
359,09/05/2022,Fiorentina,Roma,2,0,H,2,0,H,12,...,7,1,16,11,5,3,3,1,0,0

0
1
2
3
4
5
6
7

,date,home,away,home_goals,away_goals,results,ht_home_goals,ht_away_goals,ht_result,home_shot,...,away_shot_attack,home_sot_attack,away_sot_attack,home_corner_attack,away_corner_attack,avg_pos,avg_pos_diff,5_form,3_form,1_form
0,2021-08-21,Inter,Genoa,4,0,0,2,0,0,17,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.105263,-17,0,0,0
1,2021-08-21,Verona,Sassuolo,2,3,2,0,1,2,12,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.818182,-2,0,0,0
2,2021-08-21,Empoli,Lazio,1,3,2,1,3,2,16,...,0.000000,0.000000,0.000000,0.000000,0.000000,2.800000,9,0,0,0
3,2021-08-21,Torino,Atalanta,1,2,2,0,1,2,19,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.250000,2,0,0,0
4,2021-08-22,Bologna,Salernitana,3,2,0,0,0,1,18,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.764706,-4,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
355,2022-05-08,Spezia,Atalanta,1,3,2,1,1,1,5,...,249.065744,12.249135,19.408304,17.923875,27.570934,2.000000,8,0,-3,-3
356,2022-05-08,Venezia,Bologna,4,3,0,2,1,0,18,...,164.429066,17.318339,21.581315,19.418685,25.806228,1.538462,7,-3,-3,-1
357,2022-05-08,Salernitana,Cagliari,1,1,1,0,0,1,13,...,127.356401,18.339100,14.782007,30.560554,12.941176,0.944444,-1,4,6,3
358,2022-05-08,Verona,Milan,1,3,2,1,1,1,10,...,175.391003,17.543253,22.788927,23.823529,21.847751,9.000000,8,-1,-3,-2
359,2022-05-09,Fiorentina,Roma,2,0,0,2,0,0,12,...,126.013841,27.653979,17.190311,17.003460,15.259516,1.166667,1,2,2,0

,date,home,away,home_goals,away_goals,results,ht_home_goals,ht_away_goals,ht_result,home_shot,...,home_sot,away_sot,home_foul,away_foul,home_corner,away_corner,home_yellow,away_yellow,home_red,away_red
0,19/09/2020,Fiorentina,Torino,1,0,H,0,0,D,17,...,8,3,17,20,4,1,3,1,0,0
1,19/09/2020,Verona,Roma,0,0,D,0,0,D,9,...,7,7,19,20,0,6,2,0,0,0
2,20/09/2020,Parma,Napoli,0,2,A,0,0,D,4,...,2,7,16,12,4,2,4,1,0,0
3,20/09/2020,Genoa,Crotone,4,1,H,3,1,H,10,...,8,5,13,14,6,4,4,2,0,0
4,20/09/2020,Sassuolo,Cagliari,1,1,D,0,0,D,21,...,10,4,9,18,7,3,1,3,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,23/05/2021,Bologna,Juventus,1,4,A,0,3,A,18,...,5,11,7,16,3,0,1,2,0,0
376,23/05/2021,Napoli,Verona,1,1,D,0,0,D,16,...,3,4,13,25,5,3,3,4,0,0
377,23/05/2021,Sassuolo,Lazio,2,0,H,1,0,H,10,...,5,2,11,15,3,3,2,1,1,0
378,23/05/2021,Spezia,Roma,2,2,D,2,0,H,18,...,9,10,13,14,5,2,0,1,0,0
379,23/05/2021,Torino,Benevento,1,1,D,1,0,H,12,...,7,3,17,10,8,3,0,2,0,0

0
1
2
3
4
5
6
7

,date,home,away,home_goals,away_goals,results,ht_home_goals,ht_away_goals,ht_result,home_shot,...,away_shot_attack,home_sot_attack,away_sot_attack,home_corner_attack,away_corner_attack,avg_pos,avg_pos_diff,5_form,3_form,1_form
0,2020-09-19,Fiorentina,Torino,1,0,0,0,0,1,17,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.875000,-2,0,0,0
1,2020-09-19,Verona,Roma,0,0,1,0,0,1,9,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.428571,3,0,0,0
2,2020-09-20,Parma,Napoli,0,2,2,0,0,1,4,...,0.000000,0.000000,0.000000,0.000000,0.000000,4.000000,15,0,0,0
3,2020-09-20,Genoa,Crotone,4,1,0,3,1,0,10,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.578947,-8,0,0,0
4,2020-09-20,Sassuolo,Cagliari,1,1,1,0,0,1,21,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.470588,-9,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,2021-05-23,Bologna,Juventus,1,4,2,0,3,2,18,...,141.296296,25.277778,35.185185,23.163580,32.098765,4.000000,9,-3,-5,-3
376,2021-05-23,Napoli,Verona,1,1,1,0,0,1,16,...,74.101852,41.287037,13.395062,33.024691,16.500000,0.500000,-5,8,7,3
377,2021-05-23,Sassuolo,Lazio,2,0,0,1,0,0,10,...,121.435185,30.382716,30.222222,21.527778,21.750000,1.333333,2,2,4,0
378,2021-05-23,Spezia,Roma,2,2,1,2,0,0,18,...,96.759259,29.268519,27.604938,12.833333,20.030864,2.142857,8,9,4,3
379,2021-05-23,Torino,Benevento,1,1,1,1,0,0,12,...,93.141975,30.555556,19.166667,28.679012,17.358025,0.888889,-2,3,2,0

,date,home,away,home_goals,away_goals,results,ht_home_goals,ht_away_goals,ht_result,home_shot,...,home_sot,away_sot,home_foul,away_foul,home_corner,away_corner,home_yellow,away_yellow,home_red,away_red
0,24/08/2019,Parma,Juventus,0,1,A,0,1,A,5,...,4,4,12,14,5,8,2,3,0,0
1,24/08/2019,Fiorentina,Napoli,3,4,A,1,2,A,10,...,6,6,21,16,4,5,2,4,0,0
2,25/08/2019,Udinese,Milan,1,0,H,0,0,D,11,...,6,0,14,11,9,4,1,3,0,0
3,25/08/2019,Cagliari,Brescia,0,1,A,0,0,D,9,...,5,3,10,11,8,8,2,2,0,0
4,25/08/2019,Roma,Genoa,3,3,D,2,2,D,17,...,9,4,15,13,5,1,3,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,02/08/2020,Spal,Fiorentina,1,3,A,1,1,D,7,...,5,11,6,14,3,10,1,1,0,0
376,02/08/2020,Bologna,Torino,1,1,D,1,0,H,13,...,5,11,15,17,7,3,3,3,0,0
377,02/08/2020,Genoa,Verona,3,0,H,3,0,H,4,...,4,3,8,13,4,9,4,0,2,1
378,02/08/2020,Lecce,Parma,3,4,A,2,2,D,12,...,8,11,3,7,5,4,0,2,0,0
379,02/08/2020,Sassuolo,Udinese,0,1,A,0,0,D,18,...,14,3,9,11,6,7,1,1,0,0

0
1
2
3
4
5
6
7

,date,home,away,home_goals,away_goals,results,ht_home_goals,ht_away_goals,ht_result,home_shot,...,away_shot_attack,home_sot_attack,away_sot_attack,home_corner_attack,away_corner_attack,avg_pos,avg_pos_diff,5_form,3_form,1_form
0,2019-08-24,Parma,Juventus,0,1,2,0,1,2,5,...,0.000000,0.000000,0.000000,0.000000,0.000000,9.000000,8,0,0,0
1,2019-08-24,Fiorentina,Napoli,3,4,2,1,2,2,10,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.571429,4,0,0,0
2,2019-08-25,Udinese,Milan,1,0,0,0,0,1,11,...,0.000000,0.000000,0.000000,0.000000,0.000000,2.333333,8,0,0,0
3,2019-08-25,Cagliari,Brescia,0,1,2,0,0,1,9,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.684211,-6,0,0,0
4,2019-08-25,Roma,Genoa,3,3,1,2,2,1,17,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.294118,-12,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,2020-08-02,Spal,Fiorentina,1,3,2,1,1,1,7,...,117.185185,21.296296,38.111111,27.712963,28.462963,1.818182,9,-5,-3,1
376,2020-08-02,Bologna,Torino,1,1,1,1,0,0,13,...,80.327160,38.342593,23.407407,49.768519,16.898148,0.750000,-4,4,3,2
377,2020-08-02,Genoa,Verona,3,0,0,3,0,0,4,...,90.935185,30.425926,26.401235,32.493827,25.308642,1.700000,7,3,4,-1
378,2020-08-02,Lecce,Parma,3,4,2,2,2,1,12,...,101.864198,37.055556,30.092593,36.444444,25.040123,2.000000,9,0,3,0
379,2020-08-02,Sassuolo,Udinese,0,1,2,0,0,1,18,...,72.160494,47.407407,23.432099,37.194444,32.425926,0.571429,-6,-1,-2,0

,date,home,away,home_goals,away_goals,results,ht_home_goals,ht_away_goals,ht_result,home_shot,...,home_sot,away_sot,home_foul,away_foul,home_corner,away_corner,home_yellow,away_yellow,home_red,away_red
0,18/08/2018,Chievo,Juventus,2,3,A,1,1,D,7,...,2,11,7,9,0,8,2,0,0,0
1,18/08/2018,Lazio,Napoli,1,2,A,1,1,D,9,...,5,6,8,5,4,7,0,0,0,0
2,19/08/2018,Bologna,Spal,0,1,A,0,0,D,8,...,3,5,16,11,7,0,4,2,1,0
3,19/08/2018,Empoli,Cagliari,2,0,H,1,0,H,9,...,4,5,19,19,6,6,3,3,0,0
4,19/08/2018,Parma,Udinese,2,2,D,1,0,H,9,...,6,6,10,13,4,5,2,2,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,26/05/2019,Inter,Empoli,2,1,H,0,0,D,20,...,15,5,11,9,8,2,4,2,1,1
376,26/05/2019,Roma,Parma,2,1,H,1,0,H,16,...,8,5,13,8,13,8,2,1,0,0
377,26/05/2019,Sampdoria,Juventus,2,0,H,0,0,D,10,...,3,1,6,12,7,6,0,2,0,0
378,26/05/2019,Spal,Milan,2,3,A,1,2,A,7,...,4,8,17,13,8,4,2,2,0,0
379,26/05/2019,Torino,Lazio,3,1,H,0,0,D,9,...,7,4,9,10,5,5,0,1,0,0

0
1
2
3
4
5
6
7

,date,home,away,home_goals,away_goals,results,ht_home_goals,ht_away_goals,ht_result,home_shot,...,away_shot_attack,home_sot_attack,away_sot_attack,home_corner_attack,away_corner_attack,avg_pos,avg_pos_diff,5_form,3_form,1_form
0,2018-08-18,Chievo,Juventus,2,3,2,1,1,1,7,...,0.000000,0.000000,0.000000,0.000000,0.000000,20.000000,19,0,0,0
1,2018-08-18,Lazio,Napoli,1,2,2,1,1,1,9,...,0.000000,0.000000,0.000000,0.000000,0.000000,4.000000,6,0,0,0
2,2018-08-19,Bologna,Spal,0,1,2,0,0,1,8,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.769231,-3,0,0,0
3,2018-08-19,Empoli,Cagliari,2,0,0,1,0,0,9,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.285714,4,0,0,0
4,2018-08-19,Parma,Udinese,2,2,1,1,0,0,9,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.333333,4,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,2019-05-26,Inter,Empoli,2,1,0,0,0,1,20,...,58.626543,46.314815,16.370370,44.444444,15.555556,0.166667,-15,2,1,0
376,2019-05-26,Roma,Parma,2,1,0,1,0,0,16,...,53.827160,57.879630,16.361111,42.777778,21.083333,0.375000,-10,8,7,3
377,2019-05-26,Sampdoria,Juventus,2,0,0,0,0,1,10,...,86.666667,22.901235,19.851852,22.049383,25.407407,9.000000,8,2,2,0
378,2019-05-26,Spal,Milan,2,3,2,1,2,2,7,...,92.845679,22.919753,26.851852,28.129630,29.882716,2.600000,8,6,0,-3
379,2019-05-26,Torino,Lazio,3,1,0,0,0,1,9,...,89.240741,30.879630,27.469136,29.444444,26.370370,0.875000,-1,1,1,0

,date,home,away,home_goals,away_goals,results,ht_home_goals,ht_away_goals,ht_result,home_shot,...,home_sot,away_sot,home_foul,away_foul,home_corner,away_corner,home_yellow,away_yellow,home_red,away_red
0,19/08/17,Juventus,Cagliari,3,0,H,2,0,H,17,...,7,2,13,11,4,1,1,0,0,0
1,19/08/17,Verona,Napoli,1,3,A,0,2,A,12,...,4,12,7,9,3,6,2,2,0,1
2,20/08/17,Atalanta,Roma,0,1,A,0,1,A,14,...,6,1,14,16,4,1,1,2,0,0
3,20/08/17,Bologna,Torino,1,1,D,1,1,D,13,...,3,3,18,10,0,8,2,1,0,0
4,20/08/17,Crotone,Milan,0,3,A,0,3,A,6,...,2,10,9,14,2,9,1,3,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,20/05/18,Milan,Fiorentina,5,1,H,2,1,H,18,...,11,3,10,5,6,1,2,1,0,1
376,20/05/18,Napoli,Crotone,2,1,H,2,0,H,19,...,9,4,3,9,6,9,0,0,0,0
377,20/05/18,Sassuolo,Roma,0,1,A,0,1,A,16,...,3,6,14,8,5,9,1,1,0,0
378,20/05/18,Spal,Sampdoria,3,1,H,1,0,H,16,...,6,3,10,11,5,3,1,4,0,0
379,20/05/18,Udinese,Bologna,1,0,H,1,0,H,20,...,5,5,9,11,10,2,0,2,0,0

0
1
2
3
4
5
6
7

,date,home,away,home_goals,away_goals,results,ht_home_goals,ht_away_goals,ht_result,home_shot,...,away_shot_attack,home_sot_attack,away_sot_attack,home_corner_attack,away_corner_attack,avg_pos,avg_pos_diff,5_form,3_form,1_form
0,2017-08-19,Juventus,Cagliari,3,0,0,2,0,0,17,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.066667,-14,0,0,0
1,2017-08-19,Verona,Napoli,1,3,2,0,2,2,12,...,0.000000,0.000000,0.000000,0.000000,0.000000,9.500000,17,0,0,0
2,2017-08-20,Atalanta,Roma,0,1,2,0,1,2,14,...,0.000000,0.000000,0.000000,0.000000,0.000000,2.333333,4,0,0,0
3,2017-08-20,Bologna,Torino,1,1,1,1,1,1,13,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.777778,7,0,0,0
4,2017-08-20,Crotone,Milan,0,3,2,0,3,2,6,...,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000,12,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,2018-05-20,Milan,Fiorentina,5,1,0,2,1,0,18,...,138.277778,26.666667,13.537037,35.351852,19.283951,0.750000,-2,-6,-2,0
376,2018-05-20,Napoli,Crotone,2,1,0,2,0,0,19,...,77.197531,42.280864,6.222222,47.444444,8.179012,0.111111,-16,7,4,1
377,2018-05-20,Sassuolo,Roma,0,1,2,0,1,2,16,...,141.972222,14.691358,19.379630,22.685185,28.648148,3.666667,8,-2,0,0
378,2018-05-20,Spal,Sampdoria,3,1,0,1,0,0,16,...,157.805556,18.500000,20.200617,31.944444,28.401235,1.700000,7,3,4,3
379,2018-05-20,Udinese,Bologna,1,0,0,1,0,0,20,...,114.111111,18.287037,11.342593,29.203704,21.722222,0.812500,-3,-2,-1,0

,date,home,away,home_goals,away_goals,results,ht_home_goals,ht_away_goals,ht_result,home_shot,...,home_sot,away_sot,home_foul,away_foul,home_corner,away_corner,home_yellow,away_yellow,home_red,away_red
0,13/08/2021,Valencia,Getafe,1,0,H,1,0,H,4,...,2,4,24,15,1,9,6,3,1,1
1,14/08/2021,Cadiz,Levante,1,1,D,0,1,A,7,...,2,3,10,16,2,4,1,5,0,0
2,14/08/2021,Mallorca,Betis,1,1,D,1,0,H,6,...,2,1,12,18,4,3,1,3,0,0
3,14/08/2021,Alaves,Real Madrid,1,4,A,0,0,D,11,...,4,7,14,10,0,4,1,2,0,0
4,14/08/2021,Osasuna,Espanol,0,0,D,0,0,D,14,...,1,3,18,12,4,6,3,3,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
345,07/05/2022,Betis,Barcelona,1,2,A,0,0,D,14,...,5,5,16,18,4,8,1,2,0,0
346,08/05/2022,Getafe,Vallecano,0,0,D,0,0,D,12,...,6,1,20,14,4,5,3,4,0,0
347,08/05/2022,Villarreal,Sevilla,1,1,D,0,0,D,14,...,6,2,14,15,4,2,3,0,0,0
348,08/05/2022,Espanol,Osasuna,1,1,D,0,1,A,12,...,3,5,6,15,6,6,1,3,0,0
349,08/05/2022,Ath Madrid,Real Madrid,1,0,H,1,0,H,16,...,2,6,17,7,4,6,2,4,0,0

0
1
2
3
4
5
6
7

,date,home,away,home_goals,away_goals,results,ht_home_goals,ht_away_goals,ht_result,home_shot,...,away_shot_attack,home_sot_attack,away_sot_attack,home_corner_attack,away_corner_attack,avg_pos,avg_pos_diff,5_form,3_form,1_form
0,2021-08-13,Valencia,Getafe,1,0,0,1,0,0,4,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.666667,-5,0,0,0
1,2021-08-14,Cadiz,Levante,1,1,1,0,1,2,7,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.842105,-3,0,0,0
2,2021-08-14,Mallorca,Betis,1,1,1,1,0,0,6,...,0.000000,0.000000,0.000000,0.000000,0.000000,3.600000,13,0,0,0
3,2021-08-14,Alaves,Real Madrid,1,4,2,0,0,1,11,...,0.000000,0.000000,0.000000,0.000000,0.000000,20.000000,19,0,0,0
4,2021-08-14,Osasuna,Espanol,0,0,1,0,0,1,14,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.692308,-4,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
345,2022-05-07,Betis,Barcelona,1,2,2,0,0,1,14,...,125.439446,20.809689,13.494810,23.141869,22.380623,2.500000,3,-6,-3,-3
346,2022-05-08,Getafe,Vallecano,0,0,1,0,0,1,12,...,117.304498,18.892734,10.058824,18.145329,23.179931,1.250000,3,-1,-2,-2
347,2022-05-08,Villarreal,Sevilla,1,1,1,0,0,1,14,...,94.930796,15.916955,11.242215,26.823529,15.996540,2.333333,4,5,3,0
348,2022-05-08,Espanol,Osasuna,1,1,1,0,1,2,12,...,125.709343,15.363322,11.117647,27.321799,28.235294,1.444444,4,6,2,-1
349,2022-05-08,Ath Madrid,Real Madrid,1,0,0,1,0,0,16,...,129.290657,14.653979,15.695502,25.501730,16.664360,4.000000,3,-2,-2,-2

,date,home,away,home_goals,away_goals,results,ht_home_goals,ht_away_goals,ht_result,home_shot,...,home_sot,away_sot,home_foul,away_foul,home_corner,away_corner,home_yellow,away_yellow,home_red,away_red
0,12/09/2020,Eibar,Celta,0,0,D,0,0,D,8,...,1,3,17,13,3,3,4,4,1,0
1,12/09/2020,Granada,Ath Bilbao,2,0,H,0,0,D,4,...,2,2,8,10,1,2,3,4,0,0
2,12/09/2020,Cadiz,Osasuna,0,2,A,0,1,A,12,...,3,4,14,21,6,2,2,2,0,0
3,13/09/2020,Alaves,Betis,0,1,A,0,0,D,7,...,2,4,19,17,6,4,3,3,0,0
4,13/09/2020,Valladolid,Sociedad,1,1,D,1,0,H,8,...,3,2,15,17,5,3,4,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,22/05/2021,Osasuna,Sociedad,0,1,A,0,0,D,7,...,1,1,15,7,3,3,1,0,0,0
376,22/05/2021,Real Madrid,Villarreal,2,1,H,0,1,A,14,...,4,2,8,13,6,1,0,0,0,0
377,22/05/2021,Valladolid,Ath Madrid,1,2,A,1,0,H,10,...,4,3,11,11,4,6,4,6,0,0
378,23/05/2021,Granada,Getafe,0,0,D,0,0,D,9,...,3,2,16,13,6,3,4,2,0,0
379,23/05/2021,Sevilla,Alaves,1,0,H,0,0,D,11,...,2,2,11,8,6,4,1,0,0,0

0
1
2
3
4
5
6
7

,date,home,away,home_goals,away_goals,results,ht_home_goals,ht_away_goals,ht_result,home_shot,...,away_shot_attack,home_sot_attack,away_sot_attack,home_corner_attack,away_corner_attack,avg_pos,avg_pos_diff,5_form,3_form,1_form
0,2020-09-12,Eibar,Celta,0,0,1,0,0,1,8,...,0.000000,0.000000,0.000000,0.000000,0.000000,2.500000,12,0,0,0
1,2020-09-12,Granada,Ath Bilbao,2,0,0,0,0,1,4,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.111111,1,0,0,0
2,2020-09-12,Cadiz,Osasuna,0,2,2,0,1,2,12,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.090909,1,0,0,0
3,2020-09-13,Alaves,Betis,0,1,2,0,0,1,7,...,0.000000,0.000000,0.000000,0.000000,0.000000,2.666667,10,0,0,0
4,2020-09-13,Valladolid,Sociedad,1,1,1,1,0,0,8,...,0.000000,0.000000,0.000000,0.000000,0.000000,3.800000,14,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,2021-05-22,Osasuna,Sociedad,0,1,2,0,0,1,7,...,117.925926,7.916667,14.888889,10.197531,21.296296,2.200000,6,7,6,3
376,2021-05-22,Real Madrid,Villarreal,2,1,0,0,1,2,14,...,77.197531,16.790123,11.450617,25.459877,17.969136,0.285714,-5,-1,-1,-2
377,2021-05-22,Valladolid,Ath Madrid,1,2,2,1,0,0,10,...,119.583333,11.472222,16.635802,12.617284,27.259259,19.000000,18,-2,-2,-1
378,2021-05-23,Granada,Getafe,0,0,1,0,0,1,9,...,100.200617,12.990741,9.370370,12.166667,15.308642,0.666667,-5,2,0,0
379,2021-05-23,Sevilla,Alaves,1,0,0,0,0,1,11,...,61.703704,18.765432,7.212963,27.500000,14.000000,0.250000,-12,7,2,0

,date,home,away,home_goals,away_goals,results,ht_home_goals,ht_away_goals,ht_result,home_shot,...,home_sot,away_sot,home_foul,away_foul,home_corner,away_corner,home_yellow,away_yellow,home_red,away_red
0,16/08/2019,Ath Bilbao,Barcelona,1,0,H,0,0,D,11,...,5,2,14,9,3,8,1,1,0,0
1,17/08/2019,Celta,Real Madrid,1,3,A,0,1,A,7,...,4,11,17,12,6,4,5,2,0,1
2,17/08/2019,Valencia,Sociedad,1,1,D,0,0,D,14,...,6,3,13,14,3,3,4,4,1,0
3,17/08/2019,Mallorca,Eibar,2,1,H,1,0,H,16,...,4,5,13,14,9,3,2,3,0,0
4,17/08/2019,Leganes,Osasuna,0,1,A,0,0,D,13,...,2,2,17,11,8,0,1,4,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,19/07/2020,Granada,Ath Bilbao,4,0,H,1,0,H,11,...,6,3,10,11,2,3,1,2,0,0
376,19/07/2020,Leganes,Real Madrid,2,2,D,1,1,D,15,...,7,4,9,11,5,2,4,1,0,0
377,19/07/2020,Levante,Getafe,1,0,H,0,0,D,13,...,4,4,10,12,6,8,2,4,0,0
378,19/07/2020,Osasuna,Mallorca,2,2,D,1,1,D,12,...,5,4,17,10,3,5,2,0,0,0
379,19/07/2020,Sevilla,Valencia,1,0,H,0,0,D,16,...,4,2,11,6,4,7,0,1,0,0

0
1
2
3
4
5
6
7

,date,home,away,home_goals,away_goals,results,ht_home_goals,ht_away_goals,ht_result,home_shot,...,away_shot_attack,home_sot_attack,away_sot_attack,home_corner_attack,away_corner_attack,avg_pos,avg_pos_diff,5_form,3_form,1_form
0,2019-08-16,Ath Bilbao,Barcelona,1,0,0,0,0,1,11,...,0.000000,0.000000,0.000000,0.000000,0.000000,5.500000,9,0,0,0
1,2019-08-17,Celta,Real Madrid,1,3,2,0,1,2,7,...,0.000000,0.000000,0.000000,0.000000,0.000000,17.000000,16,0,0,0
2,2019-08-17,Valencia,Sociedad,1,1,1,0,0,1,14,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.285714,2,0,0,0
3,2019-08-17,Mallorca,Eibar,2,1,0,1,0,0,16,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.461538,6,0,0,0
4,2019-08-17,Leganes,Osasuna,0,1,2,0,0,1,13,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.800000,8,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,2020-07-19,Granada,Ath Bilbao,4,0,0,1,0,0,11,...,90.416667,11.635802,10.753086,26.123457,19.250000,0.545455,-5,-6,-5,-3
376,2020-07-19,Leganes,Real Madrid,2,2,1,1,1,1,15,...,103.820988,10.299383,17.240741,18.774691,16.092593,18.000000,17,-7,-5,0
377,2020-07-19,Levante,Getafe,1,0,0,0,0,1,13,...,133.410494,11.753086,15.246914,18.129630,22.675926,1.500000,4,2,2,-1
378,2020-07-19,Osasuna,Mallorca,2,2,1,1,1,1,12,...,111.833333,26.759259,11.234568,22.101852,14.259259,0.526316,-9,10,7,3
379,2020-07-19,Sevilla,Valencia,1,0,0,0,0,1,16,...,70.938272,28.947531,7.697531,37.635802,12.432099,0.333333,-6,10,6,3

,date,home,away,home_goals,away_goals,results,ht_home_goals,ht_away_goals,ht_result,home_shot,...,home_sot,away_sot,home_foul,away_foul,home_corner,away_corner,home_yellow,away_yellow,home_red,away_red
0,17/08/2018,Betis,Levante,0,3,A,0,1,A,22,...,8,4,10,10,5,3,0,2,0,0
1,17/08/2018,Girona,Valladolid,0,0,D,0,0,D,13,...,1,1,21,20,3,2,1,1,0,0
2,18/08/2018,Barcelona,Alaves,3,0,H,0,0,D,25,...,9,0,6,13,7,1,0,2,0,0
3,18/08/2018,Celta,Espanol,1,1,D,0,1,A,12,...,2,5,13,14,8,7,3,2,0,0
4,18/08/2018,Villarreal,Sociedad,1,2,A,1,1,D,16,...,7,4,16,10,4,6,2,3,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,18/05/2019,Levante,Ath Madrid,2,2,D,2,0,H,17,...,7,8,9,7,6,4,0,1,0,1
376,18/05/2019,Sevilla,Ath Bilbao,2,0,H,1,0,H,9,...,3,1,14,19,2,3,4,2,0,0
377,18/05/2019,Valladolid,Valencia,0,2,A,0,1,A,19,...,4,6,12,10,8,2,1,3,0,0
378,19/05/2019,Eibar,Barcelona,2,2,D,2,2,D,15,...,8,3,11,3,5,2,4,2,0,0
379,19/05/2019,Real Madrid,Betis,0,2,A,0,0,D,9,...,2,7,17,11,1,5,4,1,0,0

0
1
2
3
4
5
6
7

,date,home,away,home_goals,away_goals,results,ht_home_goals,ht_away_goals,ht_result,home_shot,...,away_shot_attack,home_sot_attack,away_sot_attack,home_corner_attack,away_corner_attack,avg_pos,avg_pos_diff,5_form,3_form,1_form
0,2018-08-17,Betis,Levante,0,3,2,0,1,2,22,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.666667,-5,0,0,0
1,2018-08-17,Girona,Valladolid,0,0,1,0,0,1,13,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.125000,2,0,0,0
2,2018-08-18,Barcelona,Alaves,3,0,0,0,0,1,25,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.111111,-8,0,0,0
3,2018-08-18,Celta,Espanol,1,1,1,0,1,2,12,...,0.000000,0.000000,0.000000,0.000000,0.000000,2.428571,10,0,0,0
4,2018-08-18,Villarreal,Sociedad,1,2,2,1,1,1,16,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.272727,3,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,2019-05-18,Levante,Ath Madrid,2,2,1,2,0,0,17,...,159.567901,21.111111,16.907407,30.694444,25.277778,7.500000,13,3,4,3
376,2019-05-18,Sevilla,Ath Bilbao,2,0,0,1,0,0,9,...,85.802469,18.438272,12.500000,24.074074,12.098765,0.750000,-2,3,3,0
377,2019-05-18,Valladolid,Valencia,0,2,2,0,1,2,19,...,111.416667,19.098765,13.222222,32.222222,17.783951,4.000000,12,-1,1,0
378,2019-05-19,Eibar,Barcelona,2,2,1,2,2,1,15,...,98.904321,21.111111,18.574074,37.123457,14.283951,12.000000,11,1,2,3
379,2019-05-19,Real Madrid,Betis,0,2,2,0,0,1,9,...,86.861111,28.166667,11.265432,39.814815,13.654321,0.300000,-7,14,9,3

,date,home,away,home_goals,away_goals,results,ht_home_goals,ht_away_goals,ht_result,home_shot,...,home_sot,away_sot,home_foul,away_foul,home_corner,away_corner,home_yellow,away_yellow,home_red,away_red
0,18/08/17,Leganes,Alaves,1,0,H,1,0,H,16,...,9,3,14,18,4,2,0,1,0,0
1,18/08/17,Valencia,Las Palmas,1,0,H,1,0,H,22,...,6,4,25,13,5,2,3,3,0,1
2,19/08/17,Celta,Sociedad,2,3,A,1,1,D,16,...,5,6,12,11,5,4,3,1,0,0
3,19/08/17,Girona,Ath Madrid,2,2,D,2,0,H,13,...,6,3,15,15,6,0,2,4,0,1
4,19/08/17,Sevilla,Espanol,1,1,D,1,1,D,9,...,4,6,14,12,7,3,2,4,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,19/05/18,Villarreal,Real Madrid,2,2,D,0,2,A,14,...,5,7,13,10,4,5,4,3,0,0
376,20/05/18,Ath Bilbao,Espanol,0,1,A,0,1,A,12,...,3,4,4,11,7,7,0,1,0,0
377,20/05/18,Ath Madrid,Eibar,2,2,D,1,1,D,8,...,4,3,14,14,2,2,6,2,1,0
378,20/05/18,Barcelona,Sociedad,1,0,H,0,0,D,12,...,4,2,13,13,3,8,3,2,0,0
379,20/05/18,Valencia,La Coruna,2,1,H,1,0,H,22,...,5,7,8,11,8,4,0,0,0,0

0
1
2
3
4
5
6
7

,date,home,away,home_goals,away_goals,results,ht_home_goals,ht_away_goals,ht_result,home_shot,...,away_shot_attack,home_sot_attack,away_sot_attack,home_corner_attack,away_corner_attack,avg_pos,avg_pos_diff,5_form,3_form,1_form
0,2017-08-18,Leganes,Alaves,1,0,0,1,0,0,16,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.214286,3,0,0,0
1,2017-08-18,Valencia,Las Palmas,1,0,0,1,0,0,22,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.210526,-15,0,0,0
2,2017-08-19,Celta,Sociedad,2,3,2,1,1,1,16,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.181818,2,0,0,0
3,2017-08-19,Girona,Ath Madrid,2,2,1,2,0,0,13,...,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,8,0,0,0
4,2017-08-19,Sevilla,Espanol,1,1,1,1,1,1,9,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.583333,-5,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,2018-05-19,Villarreal,Real Madrid,2,2,1,0,2,2,14,...,177.160494,21.854938,23.716049,25.601852,28.858025,1.666667,2,2,5,3
376,2018-05-20,Ath Bilbao,Espanol,0,1,2,0,1,2,12,...,93.521605,20.953704,11.287037,31.135802,15.814815,1.333333,4,1,-3,0
377,2018-05-20,Ath Madrid,Eibar,2,2,1,1,1,1,8,...,112.907407,18.250000,9.225309,28.092593,20.283951,0.222222,-7,3,-3,-3
378,2018-05-20,Barcelona,Sociedad,1,0,0,0,0,1,12,...,136.410494,35.679012,12.617284,30.419753,19.638889,0.090909,-10,9,4,3
379,2018-05-20,Valencia,La Coruna,2,1,0,1,0,0,22,...,119.259259,31.796296,12.358025,43.901235,22.555556,0.222222,-14,5,-1,0